<odoo>
  <menuitem id="dellyman_root" name="Dellyman Packages" sequence="10"/>

  <record id="action_scan_package" model="ir.actions.act_window">
    <field name="name">Scan Package</field>
    <field name="res_model">scan.tracking.wizard</field>
    <field name="view_mode">form</field>
    <field name="target">new</field>
  </record>

  <menuitem id="menu_scan_package"
            name="Scan Package"
            parent="dellyman_root"
            action="action_scan_package"/>
</odoo>
