
<odoo>
  <menuitem id="menu_dellyman_root" name="Dellyman Packages"/>

  <menuitem id="menu_dellyman_batches" parent="menu_dellyman_root" name="Batches" action="action_batch"/>
  <menuitem id="menu_dellyman_packages" parent="menu_dellyman_root" name="Packages" action="action_package"/>
  <menuitem id="menu_dellyman_locations" parent="menu_dellyman_root" name="Locations" action="action_location"/>

  <record id="action_batch" model="ir.actions.act_window">
    <field name="name">Batches</field>
    <field name="res_model">package.batch</field>
    <field name="view_mode">tree,form</field>
  </record>

  <record id="action_package" model="ir.actions.act_window">
    <field name="name">Packages</field>
    <field name="res_model">package.order</field>
    <field name="view_mode">tree,form</field>
  </record>

  <record id="action_location" model="ir.actions.act_window">
    <field name="name">Locations</field>
    <field name="res_model">package.location</field>
    <field name="view_mode">tree,form</field>
  </record>
</odoo>
